body{
    margin: 0px;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;

}

.mainButton{
    background-color: seagreen;
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    ;
}

.mainButton:hover{
    cursor: pointer;
    box-shadow: 2px 2px rgb(70, 116, 3);
    transform: scale(1.1);
}
